header{
    text-align: center;
}

.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid burlywood;
    margin: 0 35% 0 35%;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

body {
    background-color: royalblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
    display: flex;
    flex-direction: column;
}