main {
	display: flex;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

form {
	display: flex;
	color: royalblue;
	margin: 10px;
}
h1 {
	color: grey;
}
body {
	background-image: url(/src/gettyimages-981505478-612x612.jpg);
	background-size: cover;
	color: royalblue;
}

div {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.new-bookmark {
	size: 20px;
}
